@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/MontserratBlack/MontserratBlack.eot");
  src: url("../fonts/MontserratBlack/MontserratBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratBlack/MontserratBlack.woff") format("woff"), url("../fonts/MontserratBlack/MontserratBlack.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/MontserratBold/MontserratBold.eot");
  src: url("../fonts/MontserratBold/MontserratBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratBold/MontserratBold.woff") format("woff"), url("../fonts/MontserratBold/MontserratBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/MontserratBoldItalic/MontserratBoldItalic.eot");
  src: url("../fonts/MontserratBoldItalic/MontserratBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratBoldItalic/MontserratBoldItalic.woff") format("woff"), url("../fonts/MontserratBoldItalic/MontserratBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/MontserratExtraBold/MontserratExtraBold.eot");
  src: url("../fonts/MontserratExtraBold/MontserratExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratExtraBold/MontserratExtraBold.woff") format("woff"), url("../fonts/MontserratExtraBold/MontserratExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/MontserratItalic/MontserratItalic.eot");
  src: url("../fonts/MontserratItalic/MontserratItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratItalic/MontserratItalic.woff") format("woff"), url("../fonts/MontserratItalic/MontserratItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/MontserratLight/MontserratLight.eot");
  src: url("../fonts/MontserratLight/MontserratLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratLight/MontserratLight.woff") format("woff"), url("../fonts/MontserratLight/MontserratLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/MontserratLightItalic/MontserratLightItalic.eot");
  src: url("../fonts/MontserratLightItalic/MontserratLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratLightItalic/MontserratLightItalic.woff") format("woff"), url("../fonts/MontserratLightItalic/MontserratLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MontserratRegular/MontserratRegular.eot");
  src: url("../fonts/MontserratRegular/MontserratRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratRegular/MontserratRegular.woff") format("woff"), url("../fonts/MontserratRegular/MontserratRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/MontserratSemiBold/MontserratSemiBold.eot");
  src: url("../fonts/MontserratSemiBold/MontserratSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratSemiBold/MontserratSemiBold.woff") format("woff"), url("../fonts/MontserratSemiBold/MontserratSemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/MontserratThin/MontserratThin.eot");
  src: url("../fonts/MontserratThin/MontserratThin.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratThin/MontserratThin.woff") format("woff"), url("../fonts/MontserratThin/MontserratThin.ttf") format("truetype");
}
