<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Лори суши</title>

	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="icon" href="images/favicon/favicon.png">
	<link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="96x96" href="images/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="96x96" href="images/favicon/apple-touch-icon-144x144.png">
	<meta property="og:image" content="images/home-og.jpg">

	<link rel="stylesheet" href="libs/bootstrap-4.5.2-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="libs/formstyler/jquery.formstyler.css">
	<link rel="stylesheet" href="libs/slick/slick.css">
	<link rel="stylesheet" href="libs/magnific/magnific-popup.css">

	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">

	<script src="libs/modernizr/modernizr.js"></script>

</head>

<body>