<div class="overlay"></div>
<div class="mob-nav">
	<div class="container">
		<!-- <div class="mob-nav__close"></div> -->
		<div class="header-location header-location_mob">
			<a href="#" class="header-location__link">Балаково</a>
			<div class="header-location-change header-location-accept">
				<div class="header-location__title">Ваш город:</div>
				<div class="header-location__city">Балаково</div>
				<button type="submit" class="btn btn_color2 btn_size1 header-location__btn">Да, спасибо</button>
				<button type="submit" class="btn btn_color2 btn_size1 btn_reverse2 header-location__btn header-location__outer">Нет, другой</button>
			</div>
			<div class="header-location-change header-location-replace">
				<div class="header-location__title">Выберите город</div>
				<div class="header-location__citywrap">
					<a href="#" class="header-location__changecity active">Балаково</a>
					<a href="#" class="header-location__changecity">Вольск</a>
				</div>
				<button type="submit" class="btn btn_color2 btn_size1 header-location__btn header-location__city">Выбрать</button>
			</div>
		</div>

		<ul class="header-menu">
			<li class="active"><a href="#">Меню</a></li>
			<li><a href="sale.html">Акции</a></li>
			<li><a href="about.html">О нас</a></li>
			<li><a href="contact.html">Контакты</a></li>
			<li><a href="feedback.html">Отзывы</a></li>
		</ul>
		<a href="#login-modal" class="btn btn_color2 btn_size1 btn_reverse2 header-login__mob" data-toggle="modal">Вход</a>
		<div class="header-cart header-cart_mob">
			<a href="#" class="header-cart__link"><img src="images/cart2.png" alt="" /></a>
		</div>
		<a href="tel:88008880010" class="header-phone">8 (800) 888-00-10</a>
	</div>
</div>

<header class="header">
	<div class="container">
		<div id="btn-mob" class="menu-mob">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="header-main">
			<div class="header-logo"><a href="/" class="header-logo__link"><img src="images/logo.svg" alt="Авокадо"></a></div>
			<div class="header-location">
				<a href="#" class="header-location__link">Балаково</a>
				<div class="header-location-change header-location-accept">
					<div class="header-location__title">Ваш город:</div>
					<div class="header-location__city">Балаково</div>
					<button type="submit" class="btn btn_color2 btn_size1 header-location__btn">Да, спасибо</button>
					<button type="submit" class="btn btn_color2 btn_size1 btn_reverse2 header-location__btn header-location__outer">Нет, другой</button>
				</div>
				<div class="header-location-change header-location-replace">
					<div class="header-location__title">Выберите город</div>
					<div class="header-location__citywrap">
						<a href="#" class="header-location__changecity active">Балаково</a>
						<a href="#" class="header-location__changecity">Вольск</a>
					</div>
					<button type="submit" class="btn btn_color2 btn_size1 header-location__btn header-location__city">Выбрать</button>
				</div>
			</div>
			<div class="header-nav">
				<div class="container">

					<div class="header-location header-location_mob">
						<a href="#" class="header-location__link">Балаково</a>
						<div class="header-location-change header-location-accept">
							<div class="header-location__title">Ваш город:</div>
							<div class="header-location__city">Балаково</div>
							<button type="submit" class="btn btn_color2 btn_size1 header-location__btn">Да, спасибо</button>
							<button type="submit" class="btn btn_color2 btn_size1 btn_reverse2 header-location__btn header-location__outer">Нет, другой</button>
						</div>
						<div class="header-location-change header-location-replace">
							<div class="header-location__title">Выберите город</div>
							<div class="header-location__citywrap">
								<a href="#" class="header-location__changecity active">Балаково</a>
								<a href="#" class="header-location__changecity">Вольск</a>
							</div>
							<button type="submit" class="btn btn_color2 btn_size1 header-location__btn header-location__city">Выбрать</button>
						</div>
					</div>

					<ul class="header-menu">
						<li class="active"><a href="/">Меню</a></li>
						<li><a href="sale.html">Акции</a></li>
						<li><a href="about.html">О нас</a></li>
						<li><a href="contact.html">Контакты</a></li>
						<li><a href="feedback.html">Отзывы</a></li>
					</ul>
				</div>
			</div>
			<div class="header-login">
				<a href="#login-modal" class="btn btn_color2 btn_size1 btn_reverse2 header-login__link" data-toggle="modal">Личный кабинет</a>
			</div>
			<div class="header-cart">
				<a href="#" class="header-cart__link"><img src="images/cart2.png" alt="" /></a>
			</div>
		</div>
	</div>
</header>